{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% block icon-detail %}<i class="icon-pencil"></i>{% endblock %}
{% block content_title %}Questionario{% endblock %}
{% block content_subtitle %}<h5>visualizza e modifica gli attributi del questionario selezionato</h5>{% endblock %}
{% block content %}

    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">

                <div class="box">
                    <div class="box-header">
                        <span class="title">Questionario: {{ survey.title }}</span>
                        <ul class="box-toolbar">

                            <li>
                                <a href="/survey/{{ survey.slug }}" target="_blank"><i class="icon-external-link"></i> Anteprima
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-content">

                        <form class="fill-up validatable" enctype="multipart/form-data" method="post" id="survey_form">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-error">
                                    Correggi i seguenti errori:
                                    <ul>
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                <li>{{ field }} {{ error }}</li>
                                            {% endfor %}

                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                                <span style="font-size:22px;margin-left: 10px;">URL pubblico: </span><span style="font-style: italic;font-size:21px">{{ url }}?email=[[EMAIL]]</span>
                                <span style="margin-left: 5%" class="help-block note"><i class="icon-warning-sign"></i>URL da copiare per spedire il questionario in una newsletter</span>

                            <div class="row-fluid"> <!-- contenitore form -->
                                <!-- primo tab -->
                                <div class="span6">
                                    <ul class="padded separate-sections">
                                        <li>
                                            <label>&nbsp;</label>
                                        </li>
                                        <li class="input">
                                            {{ form.title.errors }}
                                            <input id="title" type="text" name="title" class="validate[required]" data-prompt-position="topLeft" placeholder="Denominazione" value="{{ survey.title|default_if_none:"" }}"/>
                                        </li>
                                        <li class="input">
                                            {{ form.slug.errors }}
                                            <input id="slug" type="text" name="slug" class="validate[required]" data-prompt-position="topLeft" placeholder="Slug" value="{{ survey.slug|default_if_none:"" }}"/>
                                        </li>
                                         <li class="input">
                                             {{ form.email.errors }}
                                            <input id="email" type="text" name="email" class="validate[required]" data-prompt-position="topLeft" placeholder="Email da notificare ad ogni questionario completato" value="{{ survey.email|default_if_none:"" }}"/>
                                             <span class="help-block note"><i class="icon-warning-sign"></i>Email da notificare ad ogni completamento di un questionario</span>
                                        </li>
                                        <li>
                                            {{ form.tease.errors }}
                                            <textarea form="survey_form" rows="4" cols="50" name="tease" data-prompt-position="topLeft" placeholder="Descrizione breve" >{{ survey.tease|default_if_none:"" }}</textarea>
                                        </li>


                                    </ul>
                                </div>
                                <!-- secondo tab -->
                                <div class="span6">
                                    <ul class="padded separate-sections">
                                        <li>
                                            <label>&nbsp;</label>
                                        </li>
                                        <li>
                                            {{ form.description.errors }}
                                            <textarea form="survey_form" rows="4" cols="50" name="description" class="validate[required]" data-prompt-position="topLeft" placeholder="Descrizione" >{{ survey.description|default_if_none:"" }}</textarea>
                                        </li>
                                        <li>
                                            {{ form.thanks.errors }}
                                            <textarea form="survey_form" rows="4" cols="50" name="thanks" class="validate[required]" data-prompt-position="topLeft" placeholder="Ringraziamento finale" >{{ survey.thanks|default_if_none:"" }}</textarea>
                                            <span class="help-block note"><i class="icon-warning-sign"></i>Messaggio visualizzato quando un utente invia il questionario</span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <ul class="padded separate-sections">
                                        <li>
                                            <label>Newsletter associata:</label>
                                            <select class="chzn-select" name="newsletter" >
                                                {% for nl in newsletters %}
                                                    <option value="{{ nl.id }}" {% if nl.id == survey.newsletter.id %} selected="selected"{% endif %}>{{ nl }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="icheck" id="login" name="require_login" {% if survey.require_login == True %}checked{% endif %}/>
                                            <label for="login" class="">E' richiesta l'autenticazione?</label>
                                        </li>
                                        <li>
                                            <input id="startdate" type="text" name="starts_at"  data-prompt-position="topLeft" placeholder="Data di inizio" value="{{ survey.starts_at|date:"d/m/Y"|default_if_none:"" }}"/>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="icheck" id="pubblished" name="is_published" {% if survey.is_published == True %}checked{% endif %} />
                                            <label for="pubblished" class="">Versione definitiva?</label>
                                        </li>

                                    </ul>
                                </div>
                                <div class="span6">
                                    <ul class="padded separate-sections">
                                        <li>
                                            <label>Evento associato:</label>
                                            <select class="chzn-select" name="event" >
                                                {% for nl in events %}
                                                    <option value="{{ nl.id }}" {% if nl.id == survey.event.id %} selected="selected"{% endif %}>{{ nl }}</option>
                                                {% endfor %}
                                            </select>

                                        </li>
                                        <li>
                                            <input style="margin-left: 50px;" type="checkbox" class="icheck" id="allow_multiple_submissions" name="allow_multiple_submissions" {% if survey.allow_multiple_submissions == True %}checked{% endif %}/>
                                            <label for="allow_multiple_submissions" class="">Può essere rifatto?</label>
                                        </li>
                                        <li>
                                            <input id="enddate" type="text" name="ends_at" data-prompt-position="topLeft" placeholder="Data di fine" value="{{ survey.ends_at|date:"d/m/Y"|default_if_none:"" }}"/>
                                        </li>

                                    </ul>

                                </div>

                            </div> <!-- contenitore form -->
                            <div class="form-actions">
                                <input type="hidden" name="site" value="1" />
                                <input type="hidden" name="archive_policy" value="1" />
                                <button type="submit" name="_save" class="btn btn-green ">Salva le modifiche</button>
                                <a  href="delete/" name="delete" class="btn btn-red pull-right">Cancella</a>
                            </div>
                        </form>
                    </div>
                </div> <!-- end box -->
            </div> <!-- span 12 -->
        </div><!-- row fluid -->
    </div>
    <div class="container-fluid padded">
        <div class="row-fluid">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Domande</span>
                        <ul class="box-toolbar">
                            <li>
                                <a id="addQuestion" href="/admin/survey/questionadd/{{ survey.id }}">
                                    <i class="icon-plus icon-green"></i> Aggiungi domanda
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="box-content">
                        <div id="questionsDatatable">
                            <table cellpadding="0" cellspacing="0" border="0" class="dTable2 responsive">
                                <thead>
                                <tr>
                                    <th>
                                        <div>Ordine</div>
                                    </th>
                                    <th>
                                        <div>Domanda</div>
                                    </th>

                                    <th>
                                        <div>Obbligatoria</div>
                                    </th>
                                    <th>
                                        <div>Punteggio</div>
                                    </th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for nl in questions %}
                                    <tr>
                                        <td>{{ nl.order }}</td>
                                        <td>{{ nl.question }}</td>
                                        <td>{{ nl.required|yesno:"Si,No" }}</td>
                                        <td>{{ nl.score }}</td>
                                        <td><a href="/admin/survey/questiondetails/{{ nl.id }}"><i
                                                class="icon-tasks"></i></a></td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script>
        var slug = function(str) {
            str = str.replace(/^\s+|\s+$/g, ''); // trim
            str = str.toLowerCase();

            // remove accents, swap ñ for n, etc
            var from = "ãàáäâẽèéëêìíïîõòóöôùúüûñç·/_,:;";
            var to   = "aaaaaeeeeeiiiiooooouuuunc------";
            for (var i=0, l=from.length ; i<l ; i++) {
                str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
            }

            str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
                    .replace(/\s+/g, '-') // collapse whitespace and replace by -
                    .replace(/-+/g, '-'); // collapse dashes

            return str;
        };

        $(document).ready(function(){
            $(".dTable2").dataTable({
                bJQueryUI: !1, bAutoWidth: !1,
                sPaginationType: "full_numbers",
                sDom: '<"table-header"fl>t<"table-footer"ip>',
                "oLanguage": {
                    "sSearch": "Cerca",
                    "sLengthMenu": "Mostra _MENU_ righe per pagina",
                    "sZeroRecords": "Nessun risultato trovato",
                    "sInfo": "Risultati da _START_ a _END_ di _TOTAL_ ",
                    "sInfoEmpty": "Mostrati da 0 a 0 di 0 records",
                    "sInfoFiltered": "(filtrati da _MAX_ records totali)",
                    "oPaginate": {
                        "sFirst": "Primo",
                        "sLast": "Ultimo",
                        "sNext": "Prossimo",
                        "sPrevious": "Precedente"

                    }
                }
            });
            $("#title").on("keypress",function(){
                $("#slug").val(slug($("#title").val()));
            });
            $("#title").on("change",function(){
                $("#slug").val(slug($("#title").val()));
            });

            var start=$("#startdate" ).datepicker({"language":"it","format":"dd/mm/yyyy"
            }).on("changeDate",function(dt){
                        $("#enddate").datepicker('setStartDate', dt.date);
                    });
            var end=$("#enddate" ).datepicker({"language":"it","format":"dd/mm/yyyy",
            });
            $(".active").removeClass("active");
            $("#surveyMenu").addClass("active");


        });


    </script>



{% endblock %}