<!DOCTYPE html>
<html>
<head>
    <title> NTF | Enervit</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Il nutrizionista al tuo fianco">
    <meta name="author" content="Mochunk srl per Enervit spa">
    <link rel="stylesheet" href="{{ STATIC_URL }}frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}frontend/css/carousel.css">
    {% block additionalstyles%}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <link href="//netdna.bootstrapcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
    <link href="{{ STATIC_URL  }}/frontend/images/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
    <script src="{{ STATIC_URL  }}/frontend/js/html5shiv.js"></script>
    <script src="{{ STATIC_URL  }}/frontend/js/respond.min.js"></script>
    <script src="{{ STATIC_URL  }}/frontend/js/respond.proxy.js"></script>
    <![endif]-->
</head>
<body>
{% block content %}{% endblock %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="{{ STATIC_URL }}/frontend/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}/frontend/js/placeholders.min.js"></script>
{% block additionalscripts %} {% endblock %}
{% block analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47098270-1', 'enervit.it');
  ga('send', 'pageview');

</script>
{% endblock %}
</body>
</html>
