# Ignore python temp files
*.pyc

# Python VirtualEnv
venv/

# eclipse
.project
.pydevproject

# PyCharm
.idea/
*.iml

# Django stuff:
src/*.log
src/*.pot

# Ignore the local config file
.source
src/yellowPage/settings_dev.json

# Ignore project level files
temp/
dist_test/
src/media/cabinet/
src/yellowPage/whoosh_index/

# Ignore temp files
**/test.py

