# Ignore python temp files
*.pyc

# Python VirtualEnv
venv/

# eclipse
.project
.pydevproject

# PyCharm
.idea/
*.iml

# Django stuff:
src/*.log
src/*.pot

# Ignore the local config file
yellowPage/settings_dev.json

# Ignore cabinet files
src/media/cabinet/
