Django==1.5.2
flickrapi==1.4.4
MySQL-python==1.2.3
South==0.8.2
Whoosh==2.6.0
chardet==2.1.1
django-admin-bootstrapped==0.4.3
django-haystack==2.1.0
django-registration==1.0
django-smtp-ssl==1.0
django-wysiwyg-redactor==0.3.6
django-positions==0.5.1
html2text==3.200.3
python-dateutil==2.1
python-ptrace==0.6.6
pytz==2013.7
simplejson==2.3.2
six==1.4.1
sorl-thumbnail==11.12
tagging==0.2.1
xlrd==0.9.2
xlutils==1.6.0
xlwt==0.7.5
geopy==0.99
PIL==1.1.7
