{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% block icon-detail %}<i class="icon-envelope-alt"></i>{% endblock %}
{% block content_title %}Newsletter{% endblock %}
{% block content_subtitle %}<h5>ricerca di tutte le Newsletter gestite dal sistema</h5>{% endblock %}
{% block object-tools %}{% endblock %}
{% block content %}

    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Ricerca Newsletter</span>
                    </div>
                    <div class="box-content">
                        <form class="fill-up validatable" enctype="multipart/form-data" method="get" id="contact_form">
                            {% csrf_token %}
                            <ul class="padded separate-sections">
                                <li class="input">
                                    <label>Testo Libero</label>
                                    <input type="text" style="text-transform:capitalize;margin-left: auto;" name="q"  data-prompt-position="topLeft" placeholder="Ricerca Libera" value="{{ form.instance.title |default_if_none:"" }}"/>
                                </li>
                            </ul>
                            <div class="row-fluid">
                                <div class="span6">
                                    <ul class="padded separate-sections">
                                        <li class="input">
                                            <input type="text" style="text-transform:capitalize;" name="name"  data-prompt-position="topLeft" placeholder="Nome" value="{{ form.name.value|default_if_none:"" }}"/>
                                        </li>
                                        <li class="input">
                                            <input type="text" style="text-transform:capitalize;" name="description"  data-prompt-position="topLeft" placeholder="Descrizione" value="{{ form.description.value|default_if_none:"" }}"/>
                                        </li>

                                        <li>
                                            <label>Status:</label>
                                            <select class="uniform" name="status" >
                                                <option value="">---</option>
                                                <option value="Bozza">Bozza</option>
                                                <option value="In attesa di invio" >In attesa di invio</option>
                                                <option value="Invio in corso" >Invio in corso</option>
                                                <option value="Inviata" >Inviata</option>
                                                <option value="Cancellata" >Cancellata</option>
                                            </select>
                                        </li>
                                        <li>
                                            <label>Evento</label>
                                            <select class="uniform" name="event" >
                                                <option value="">---</option>
                                                {% for c in events %}
                                                    <option value="{% if c.title %}{{ c.title }}{% else %}{{ c.description }}{% endif %}">{% if c.title %}{{ c.title }}{% else %}{{ c.description }}{% endif %}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="span6">
                                    <ul class="padded separate-sections">
                                        <li class="input">
                                            <input type="text" id="stardate" style="text-transform:capitalize;" name="startdate"  data-prompt-position="topLeft" placeholder="Data di Inizio" value="{{ form.startdate.value|default_if_none:"" }}"/>
                                        </li>
                                        <li class="input">
                                            <input type="text" id="enddate" style="text-transform:capitalize;" name="enddate"  data-prompt-position="topLeft" placeholder="Data di Fine" value="{{ form.enddate.value|default_if_none:"" }}"/>
                                        </li>
                                        <li>
                                            <label>Campagna</label>
                                            <select class="uniform" name="campaign" >
                                                <option value="">---</option>
                                                {% for c in campaigns %}
                                                    <option value="{{ c.name }}" {% if c.name == form.campaign.value %}selected="selected"{% endif %}>{{ c.name }}</option>
                                                {% endfor %}
                                            </select>

                                        </li>

                                        <li>
                                            <label>Numero di risultati:</label>
                                            <select class="uniform" name="max_results" >
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="500">500</option>
                                                <option value="10000" >Tutti</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button onclick="form_submit();" type="button" class="btn btn-blue">Cerca</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Risultati</span>
                        <ul class="object-tools form-inline pull-right inline">
                            <li>
                                <a href="#" id="export" class="btn btn-green">
                                    <i class="icon-download icon-white"></i> Esporta
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-content">
                        <div id="dataTables">
                            <table cellpadding="0" cellspacing="0" border="0" class="dTable2 responsive">
                                <thead>
                                <tr>
                                    <th><div>Id</div></th>
                                    <th><div>Denominazione</div></th>
                                    <th><div>Data di inizio</div></th>
                                    <th><div>Data di fine</div></th>
                                    <th><div>Campagna</div></th>
                                    <th><div>Stato</div></th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for nl in newsletters %}
                                    <tr>
                                        <td>{{ nl.id }}</td>
                                        <td>{{ nl.name }}</td>
                                        <td>{{ nl.startdate }}</td>
                                        <td>{{ nl.enddate }}</td>
                                        <td>{{ nl.campaign }}</td>
                                        <td>
                                            {% if nl.status == 'D' %} Bozza {% endif %}
                                            {% if nl.status == 'W' %} In attesa di invio {% endif %}
                                            {% if nl.status == 'S' %} Invio in corso {% endif %}
                                            {% if nl.status == 'F' %} Inviata {% endif %}
                                            {% if nl.status == 'C' %} Cancellata {% endif %}
                                        </td>

                                        <td><a href="/admin/campaigns/newsletter/{{nl.id}}" target="_blank"><i class="icon-tasks"></i></a></td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
	
		
		function form_submit(){
			//Get Values
			var search_q = document.forms["contact_form"].elements["q"].value;
			var search_name = document.forms["contact_form"].elements["name"].value;
			var search_description = document.forms["contact_form"].elements["description"].value;
			var search_status = document.forms["contact_form"].elements["status"].value;
			var search_startdate = document.forms["contact_form"].elements["startdate"].value;
			var search_enddate = document.forms["contact_form"].elements["enddate"].value;
			var search_event = document.forms["contact_form"].elements["event"].value;
			var search_campaign = document.forms["contact_form"].elements["campaign"].value;
			
			if(search_q || search_name || search_description || search_status || search_startdate || search_enddate || search_event || search_campaign){
				//se almeno uno è inserito allora submit
				document.getElementById('contact_form').submit();
			}else{
				//else visualizza un'alert
				alert("Si prega di inserire almeno un campo.")
			}
		}
	
	
        $(document).ready(function() {

            var start=$("#startdate" ).datepicker({"language":"it","format":"dd/mm/yyyy"
            }).on("changeDate",function(dt){
                $("#enddate").datepicker('setStartDate', dt.date);
            });
            var end=$("#enddate" ).datepicker({"language":"it","format":"dd/mm/yyyy",
            });

            $(".dTable2").dataTable({
                bJQueryUI:!1
                ,bAutoWidth:!1,
                sPaginationType:"full_numbers",
                sDom:'<"table-header"fl>t<"table-footer"ip>',
                "oLanguage": {
                    "sSearch":"Cerca",
                    "sLengthMenu": "Mostra _MENU_ righe per pagina",
                    "sZeroRecords": "Nessun risultato trovato",
                    "sInfo": "Risultati da _START_ a _END_ di _TOTAL_ ",
                    "sInfoEmpty": "Mostrati da 0 a 0 di 0 records",
                    "sInfoFiltered": "(filtrati da _MAX_ records totali)",
                    "oPaginate":{
                        "sFirst":"Primo",
                        "sLast":"Ultimo",
                        "sNext":"Prossimo",
                        "sPrevious":"Precedente"

                    }
                }
            });

            $("#export").on("click",function(){
                window.location.href ="/admin/search/newsletterexport?"+  $("#contact_form").serialize();

            });

            $(".active").removeClass("active");
            $("#searchMenu").addClass("active");
        });
    </script>

{% endblock %}