{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% block icon-detail %}<i class="icon-calendar"></i>{% endblock %}
{% block content_title %}Eventi{% endblock %}
{% block content_subtitle %}<h5>ricerca di tutti gli Eventi gestiti dal sistema</h5>{% endblock %}
{% block object-tools %}{% endblock %}
{% block content %}

    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Ricerca Eventi</span>
                    </div>
                    <div class="box-content">
                        <form class="fill-up validatable" enctype="multipart/form-data" method="get" id="contact_form">
                            {% csrf_token %}
                            <ul class="padded separate-sections">
                                <li class="input">
                                    <label>Testo Libero</label>
                                    <input type="text" style="text-transform:capitalize;margin-left: auto;" name="q"  data-prompt-position="topLeft" placeholder="Ricerca Libera" value="{{ form.instance.title |default_if_none:"" }}"/>
                                </li>
                            </ul>
                            <div class="row-fluid">
                                <div class="span6">
                                    <ul class="padded separate-sections">
                                        <li class="input">
                                            <input type="text" style="text-transform:capitalize;" name="title"  data-prompt-position="topLeft" placeholder="Titolo" value="{{ form.title.value|default_if_none:"" }}"/>
                                        </li>
                                        <li class="input">
                                            <input type="text" style="text-transform:capitalize;" name="description"  data-prompt-position="topLeft" placeholder="Descrizione" value="{{ form.description.value|default_if_none:"" }}"/>
                                        </li>
                                        <li>
                                            <input type="text" style="text-transform:capitalize;" name="pointofsale"  data-prompt-position="topLeft" placeholder="Codice Punto Vendita" value="{{ form.pointofsale.value|default_if_none:"" }}"/>
                                        </li>
                                        <li>
                                            <input type="text" style="text-transform:capitalize;" name="trainer"  data-prompt-position="topLeft" placeholder="Formatore" value="{{ form.trainer.value|default_if_none:"" }}"/>
                                        </li>
{#                                        <li>#}
{#                                            <label>Distretto ITS</label>#}
{#                                            <select class="chzn-select" id="lst-district" name="district" >#}
{#                                                <option value="" selected="selected">---</option>#}
{#                                                {% for d in districts %}#}
{#                                                    <option value="{{ d }}" >{{ d }}</option>#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </li>#}
                                        <li>
                                            <label>ITS</label>
                                            <select class="chzn-select" name="its_districtmanager" id="lst-its">
                                                <option value="" selected="selected">---</option>
                                                {% for d in its %}
                                                    <option value="{{ d }}" {% if d.username == form.its_districtmanager.value %} selected {% endif %}>{{ d.first_name }} {{ d.last_name }} {% if d.email %}({{ d.email }}){% endif %}</option>
                                                {% endfor %}

                                            </select>
                                        </li>
                                        <li>
                                            <label>Consulente</label>
                                            <select class="chzn-select" name="consultant" id="lst-consultant">
                                                <option value="" selected="selected">---</option>
                                                {% for d in consultants %}
                                                    <option value="{{ d }}" {% if d.full_name == form.consultant.value %} selected {% endif %}>{{ d }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>
                                            <label>Area Manager</label>
                                            <select class="chzn-select" name="areamanager" >
                                                <option value="" selected="selected">---</option>
                                                {% for w in areamanagers %}
                                                    <option value="{{ w }}" {% if w.full_name == form.areamanager.value %} selected {% endif %}>{{ w }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>
                                            <label>Tipologia Punto Vendita</label>
                                            <select class="chzn-select" name="pointofsaletype" >
                                                <option value="" selected="selected">---</option>
                                                {% for w in pointofsaletypes %}
                                                    <option value="{{ w }}" {% if w.description == form.pointofsaletype.value %} selected {% endif %}>{{ w }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>
                                            <label>Tipologia Evento</label>
                                            <select class="chzn-select" name="eventtype" >
                                                <option value="" selected="selected">---</option>
                                                {% for w in eventtypes %}
                                                    <option value="{{ w }}" {% if w.description == form.eventtype.value %} selected {% endif %}>{{ w }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>

                                    </ul>
                                </div>
                                <div class="span6">
                                    <ul class="padded separate-sections">
                                        <li class="input">
                                            <input type="text" id="stardate" style="text-transform:capitalize;" name="date"  data-prompt-position="topLeft" placeholder="Data Iniziale" value="{{ form.date.value|default_if_none:"" }}"/>
                                        </li>
										<li class="input">
                                            <input type="text" id="enddate" style="text-transform:capitalize;" name="enddate"  data-prompt-position="topLeft" placeholder="Data Finale" value="{{ form.enddate.value|default_if_none:"" }}"/>
                                        </li>
                                        <li>
                                            <input type="text" style="text-transform:capitalize;" name="pointofsaledescription"  data-prompt-position="topLeft" placeholder="Nominativo Punto Vendita" value="{{ form.pointofsaledescription.value|default_if_none:"" }}"/>
                                        </li>
                                        <li>
                                            <input type="text"  name="place"  data-prompt-position="topLeft" placeholder="Località" value="{{ form.place.value|default_if_none:"" }}"/>
                                        </li>
                                       <li>
                                        <label>Provincia:</label>
                                        <select class="chzn-select" name="province" >
                                            <option value="">---</option>
                                            {% for prov in provinces %}
                                                <option value="{{ prov }}"  {% if prov.name == form.province.value %} selected {% endif %}>{{ prov }}</option>
                                            {% endfor %}
                                        </select>
                                        </li>
                                        <li>
                                            <label>Tema Evento</label>
                                            <select class="chzn-select" name="theme" >
                                                <option value="" selected="selected">---</option>
                                                {% for w in themes %}
                                                    <option value="{{ w }}" {% if w.description == form.theme.value %} selected {% endif %}>{{ w }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>
                                            <label>Canale</label>
                                            <select class="chzn-select" name="channel" >
                                                <option value="" selected="selected">---</option>
                                                {% for w in channels %}
                                                    <option value="{{ w }}" {% if w.description == form.channel.value %} selected {% endif %}>{{ w }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>

                                        <li>
                                            <label>Campagna</label>
                                            <select class="uniform" name="campaign" >
                                                <option value="">---</option>
                                                {% for c in campaigns %}
                                                    <option value="{{ c.name }}" {% if c.name == form.campaign.value %}selected="selected"{% endif %}>{{ c.name }}</option>
                                                {% endfor %}
                                            </select>

                                        </li>

                                        <li>
                                            <label>Numero di risultati:</label>
                                            <select class="uniform" name="max_results" >
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="500">500</option>
                                                <option value="10000" >Tutti</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button onclick="form_submit();" type="button" class="btn btn-blue">Cerca</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Risultati</span>
                        <ul class="object-tools form-inline pull-right inline">
                            <li>
                                <a href="#" id="export" class="btn btn-green">
                                    <i class="icon-download icon-white"></i> Esporta
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-content">
                        <div id="dataTables">
                            <table cellpadding="0" cellspacing="0" border="0" class="dTable2 responsive">
                                <thead>
                                <tr>
                                    <th><div>Id</div></th>
                                    <th><div>Data</div></th>
                                    <th><div>Titolo</div></th>
                                    <th><div>Campagna</div></th>
                                    <th><div>Pubblico</div></th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in events %}
                                    <tr>
                                        <td>{{ event.id }}</td>
                                        <td>{{ event.date|date:"d-m-Y" }}{% if event.enddate %} al {{ event.enddate|date:"d-m-Y" }}{% endif %}</td>
                                        <td>{% if event.title %}{{ event.title }}{% else %}{{ event.description }}{% endif %}</td>
                                        <td>{{ event.campaign }}</td>
                                        <td>{{ event.is_public|yesno:"Si,No" }}</td>
                                        <td><a href="/admin/campaigns/event/{{event.id }}" target="_blank"><i class="icon-tasks"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
	
		function form_submit(){
			//Get Values
			var search_q = document.forms["contact_form"].elements["q"].value;
			var search_title = document.forms["contact_form"].elements["title"].value;
			var search_desc = document.forms["contact_form"].elements["description"].value;
			var search_pointofsalettt = document.forms["contact_form"].elements["pointofsale"].value;
			var search_trainer = document.forms["contact_form"].elements["trainer"].value;
			var search_itsdistrict = document.forms["contact_form"].elements["its_districtmanager"].value; //Select
			var search_consultant = document.forms["contact_form"].elements["consultant"].value; //Select
			var search_areamanager = document.forms["contact_form"].elements["areamanager"].value; //Select
			var search_pointofsale = document.forms["contact_form"].elements["pointofsaletype"].value; //Select
			var search_eventtype = document.forms["contact_form"].elements["eventtype"].value; //Select
			var search_initdate = document.forms["contact_form"].elements["date"].value;
			var search_end_date = document.forms["contact_form"].elements["enddate"].value;
			var search_pointofsaledescription = document.forms["contact_form"].elements["pointofsaledescription"].value;
			var search_place = document.forms["contact_form"].elements["place"].value;
			var search_province = document.forms["contact_form"].elements["province"].value; //Select
			var search_theme = document.forms["contact_form"].elements["theme"].value; //Select
			var search_channel = document.forms["contact_form"].elements["channel"].value; //Select
			var search_campaign = document.forms["contact_form"].elements["campaign"].value; //Select
			
			if(search_q || search_title || search_desc || search_pointofsalettt || search_trainer || search_initdate || search_end_date || search_pointofsaledescription || search_place || 
				search_itsdistrict || search_consultant || search_areamanager || search_pointofsale || search_eventtype || search_province || search_theme || search_channel || search_campaign){
				//se almeno uno è inserito allora submit
				document.getElementById('contact_form').submit();
			}else{
				//else visualizza un'alert
				alert("Si prega di inserire almeno un campo.")
			}
		}
	
        $(document).ready(function() {

            $("#stardate" ).datepicker({"language":"it","format":"dd/mm/yyyy"});
			$("#enddate" ).datepicker({"language":"it","format":"dd/mm/yyyy"});

            $(".dTable2").dataTable({
                bJQueryUI:!1
                ,bAutoWidth:!1,
                sPaginationType:"full_numbers",
                sDom:'<"table-header"fl>t<"table-footer"ip>',
                "oLanguage": {
                    "sSearch":"Cerca",
                    "sLengthMenu": "Mostra _MENU_ righe per pagina",
                    "sZeroRecords": "Nessun risultato trovato",
                    "sInfo": "Risultati da _START_ a _END_ di _TOTAL_ ",
                    "sInfoEmpty": "Mostrati da 0 a 0 di 0 records",
                    "sInfoFiltered": "(filtrati da _MAX_ records totali)",
                    "oPaginate":{
                        "sFirst":"Primo",
                        "sLast":"Ultimo",
                        "sNext":"Prossimo",
                        "sPrevious":"Precedente"

                    }
                }
            });

            $("#export").on("click",function(){
                window.location.href ="/admin/search/eventexport?"+  $("#contact_form").serialize();

            });

            $(".active").removeClass("active");
            $("#searchMenu").addClass("active");
        });
    </script>

{% endblock %}