{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% block icon-detail %}<i class="icon-user"></i>{% endblock %}
{% block content_title %}Utenti{% endblock %}
{% block content_subtitle %}<h5>lista di tutti gli utenti gestiti dal sistema</h5>{% endblock %}
{% block object-tools %}
{% endblock %}
{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Staff (Utenti Backend)</span>
                        <ul class="object-tools form-inline pull-right inline">
                            <li>
                                <a href="/admin/backend/utenti/add" id="addUser" class="btn btn-blue">
                                    <i class="icon-plus icon-white"></i> Aggiungi
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-content">
                        <div id="dataTables">
                            <table cellpadding="0" cellspacing="0" border="0" class="dTable2 responsive">
                                <thead>
                                <tr>
                                    <th><div>Id</div></th>
                                    <th><div>Username</div></th>
                                    <th><div>Nome Completo</div></th>
                                    <th><div>Email</div></th>
                                    <th><div>Superutente</div></th>
                                    <th><div>Attivo</div></th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    {% if user.is_staff %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.username}}</td>
                                        <td>{{ user.last_name }}, {{ user.first_name}}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{% if user.is_superuser %}Si{% else %}No{% endif %}</td>
                                        <td>{% if user.is_active %}Si{% else %}No{% endif %}</td>
                                        <td><a href="/admin/backend/utenti/details/{{user.id }}"><i class="icon-tasks"></i></a></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Utenti Frontend</span>
                    </div>
                    <div class="box-content">
                        <div id="dataTables">
                            <table cellpadding="0" cellspacing="0" border="0" class="dTable2 responsive">
                                <thead>
                                <tr>
                                    <th><div>Id</div></th>
                                    <th><div>Username</div></th>
                                    <th><div>Contatto</div></th>
                                    <th><div>Data registrazione</div></th>
                                    <th><div>Attivo</div></th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    {% if not user.is_staff %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.username}}</td>
                                            <td>
                                                {% for contact in contacts %}
                                                    {% if contact.owner == user %}
                                                    <a style="font-weight: bold" href="/admin/contacts/contact/{{ contact.code }}">{{ contact.name }} {{ contact.surname }} ({{ contact.email }})</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>{{ user.date_joined }}</td>
                                            <td>{% if user.is_active %}Si{% else %}No{% endif %}</td>
                                            <td><a href="/admin/backend/utenti/details/{{user.id }}"><i class="icon-tasks"></i></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(".dTable2").dataTable({
                bJQueryUI:!1
                ,bAutoWidth:!1,
                sPaginationType:"full_numbers",
                sDom:'<"table-header"fl>t<"table-footer"ip>',
                "oLanguage": {
                    "sSearch":"Cerca",
                    "sLengthMenu": "Mostra _MENU_ righe per pagina",
                    "sZeroRecords": "Nessun risultato trovato",
                    "sInfo": "Risultati da _START_ a _END_ di _TOTAL_ ",
                    "sInfoEmpty": "Mostrati da 0 a 0 di 0 records",
                    "sInfoFiltered": "(filtrati da _MAX_ records totali)",
                    "oPaginate":{
                        "sFirst":"Primo",
                        "sLast":"Ultimo",
                        "sNext":"Prossimo",
                        "sPrevious":"Precedente"

                    }
                }
            });

            

            $(".active").removeClass("active");
            $("#otherMenu").addClass("active");
        });
    </script>
{% endblock %}