{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags dict_access%}
{% block icon-detail %}<i class="icon-ok"></i>{% endblock %}
{% block content_title %}Evento del {{ signups.0.event.date|date:"d F Y" }} - {% if signups.0.event.title %}{{ signups.0.event.title }}{% else %} {{ signups.0.event.description }}{% endif %}{% endblock %}
{% block content_subtitle %}<h5>Registro Iscrizioni</h5>{% endblock %}
{% block object-tools %}
    <ul class="object-tools form-inline pull-right inline">
        <li>
            <a href="/admin/campaigns/eventi/signupexport/{{ signups.0.event.id}}" class="btn btn-green">
                <i class="icon-download-alt icon-white"></i> Esporta XLS
            </a>
        </li>
    </ul>

{% endblock %}
{% block content %}
    <div class="container-fluid padded">

        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Registro Iscrizioni </span>
                    </div>
                    <div class="box-content">
                        <div id="dataTables">

                            <table cellpadding="0" cellspacing="0" border="0" class="dTable2 responsive">
                                <thead>
                                <tr>
                                    <th><div>Id</div></th>
                                    <th><div>Nome</div></th>
                                    <th><div>Email</div></th>
                                    <th><div>Telefono</div></th>
                                    <th><div>Indirizzo</div></th>
                                    <th><div>Coupon / CRO</div></th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for signup in signups %}
                                    <tr>
                                        <td>{{ signup.id }}</td>
                                        <td>{{ signup.contact.display_name }}</td>
                                        <td>{{ signup.contact.email }}</td>
                                        <td>{{ signup.contact.phone_number }}</td>
                                        <td>{{ signup.contact.street}} {{signup.contact.civic}}{% if signup.contact.city %}, {{signup.contact.city|title}} ({{signup.contact.province.code}}){% endif %}</td>
                                        <td>{% if signup.staff %}
                                            Staff
                                        {% elif signup.omaggio %}
                                            Coupon {{ signup.coupon }}<br />
                                            ({{ signup.coupon.coupon_bulk.owner.get_full_name }})
                                        {% elif signup.pagante %}

                                            {{ payments|get_item:signup.contact }}
                                        {% endif %}
                                        </td>

                                        <td>
                                        <a href="/admin/campaigns/event/signup/{{signup.id }}"><i style="margin-left: 20px" class="icon-table icon-2x"></i></a>
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function() {




            $(".dTable2").dataTable({
                bJQueryUI:!1
                ,bAutoWidth:!1,
                sPaginationType:"full_numbers",
                sDom:'<"table-header"fl>t<"table-footer"ip>',
                "oLanguage": {
                    "sSearch":"Cerca",
                    "sLengthMenu": "Mostra _MENU_ righe per pagina",
                    "sZeroRecords": "Nessun risultato trovato",
                    "sInfo": "Risultati da _START_ a _END_ di _TOTAL_ ",
                    "sInfoEmpty": "Mostrati da 0 a 0 di 0 records",
                    "sInfoFiltered": "(filtrati da _MAX_ records totali)",
                    "oPaginate":{
                        "sFirst":"Primo",
                        "sLast":"Ultimo",
                        "sNext":"Prossimo",
                        "sPrevious":"Precedente"

                    }
                },
                fnDrawCallback:function(){
                    $('.dTable2 tbody tr').off('click');
                    $('.dTable2 tbody tr').on('click', function () {
                        var nTds = $('td', this);
                        var signupID=$(nTds[0]).text();
                        var presence= $(nTds[6]).children("input").is(":checked");
                        $.getJSON(
                                "/admin/campaigns/rest/eventpresence",
                                {
                                    signup : signupID,
                                    presence: presence
                                },
                                function(data){
                                    if(data.value=="OK"){
                                        if(data.presence=="true"){
                                            $(nTds[6]).children("input").attr('checked', true);
                                        }else{
                                            $(nTds[6]).children("input").attr('checked', false);
                                        }
                                        staff.refresh(data.pstaff)
                                        omaggio.refresh(data.pomaggio)
                                        pagante.refresh(data.ppagante)
                                        total.refresh(data.ptotal)

                                    }
                                }
                        );
                    });
                }
            });

            $(".active").removeClass("active");
            $("#eventsMenu").addClass("active");



        });
    </script>
{% endblock %}