{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% block icon-detail %}<i class="icon-calendar"></i>{% endblock %}
{% block content_title %}Eventi{% endblock %}
{% block content_subtitle %}<h5>lista di tutti gli eventi gestiti dal sistema</h5>{% endblock %}
{% block object-tools %}
    <ul class="object-tools form-inline pull-right inline">
        <li>
            <a href="/admin/campaigns/event/add/" class="btn btn-blue">
                <i class="icon-plus icon-white"></i> Aggiungi Evento
            </a>
        </li>
        <li>
            <a href="/admin/campaigns/event/import" class="btn btn-brown">
                <i class="icon-upload-alt icon-white"></i> Importa Iscrizioni
            </a>
        </li>
        <li>
            <a href="/admin/search/event/" class="btn btn-green">
                <i class="icon-search icon-white"></i> Ricerca Eventi
            </a>
        </li>

    </ul>

{% endblock %}
{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Eventi</span>
                    </div>
                    <div class="box-content">
                        <div id="dataTables">
                            <table cellpadding="0" cellspacing="0" border="0" class="dTable2 responsive">
                                <thead>
                                <tr>
                                    <th><div>Id</div></th>
                                    <th><div>Data</div></th>
                                    <th><div>Titolo</div></th>
                                    <th><div>Campagna</div></th>
                                    <th><div>Pubblico</div></th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in events %}
                                    <tr>
                                        <td>{{ event.id }}</td>
                                        <td>{{ event.date|date:"d-m-Y" }}{% if event.enddate %} al {{ event.enddate|date:"d-m-Y" }}{% endif %}</td>
                                        <td>{% if event.title %}{{ event.title }}{% else %}{{ event.description }}{% endif %}</td>
                                        <td>{{ event.campaign }}</td>
                                        <td>{{ event.is_public|yesno:"Si,No" }}</td>
                                        <td><a href="/admin/campaigns/event/{{event.id }}{{ event.from_its }}"><i class="icon-tasks"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(".dTable2").dataTable({
                bJQueryUI:!1
                ,bAutoWidth:!1,
                sPaginationType:"full_numbers",
                sDom:'<"table-header"fl>t<"table-footer"ip>',
                "oLanguage": {
                    "sSearch":"Cerca",
                    "sLengthMenu": "Mostra _MENU_ righe per pagina",
                    "sZeroRecords": "Nessun risultato trovato",
                    "sInfo": "Risultati da _START_ a _END_ di _TOTAL_ ",
                    "sInfoEmpty": "Mostrati da 0 a 0 di 0 records",
                    "sInfoFiltered": "(filtrati da _MAX_ records totali)",
                    "oPaginate":{
                        "sFirst":"Primo",
                        "sLast":"Ultimo",
                        "sNext":"Prossimo",
                        "sPrevious":"Precedente"

                    }
                }
            });

            $('.dTable2 tbody tr').on('click', function () {
                var nTds = $('td', this);
                window.location="/admin/campaigns/event/"+$(nTds[0]).text();
            });

            $(".active").removeClass("active");
            $("#eventsMenu").addClass("active");
        });
    </script>
{% endblock %}