{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% block icon-detail %}<i class="icon-bar-chart"></i>{% endblock %}
{% block content_title %}ITS Report{% endblock %}
{% block content_subtitle %}
    {% if show_report %}
        <h5>ITS Report per {{ year }}</h5>
    {% else %}
        <h5>ITS Report</h5>
    {% endif %}
{% endblock %}
{% block object-tools %}
{% endblock %}
{% block content %}

<div class="container-fluid padded">
    <!-- Year drop down -->
    <div class="row-fluid">
        <span>
            <select id="lst-year" name="years">
                {% for year_no in years %}
                    {% ifequal year_no year %}
                        <option value="{{ year_no }}" selected="selected">{{ year_no }}</option>
                    {% else %}
                        <option value="{{ year_no }}">{{ year_no }}</option>
                    {% endifequal %}
                {% endfor %}
            </select>
        </span>
        <span>
        {% if its_mode %}
            {% if its_error %}
                <input style="color: #7d2a1c" type="text" name="district_name" value="{{ district_name }}" readonly>
            {% else %}
                <input type="text" name="district_name" value="{{ district_name }}" readonly>
            {% endif %}
            <input id="district_id" type="hidden" name="district_id" value="{{ district_id }}">
        {% else %}
            <select id="lst-district" name="district">
                <option value="-1" selected="selected">T - Totale Italia</option>
                {% for district in districts %}
                    {% ifequal district_id district.id %}
                        <option value="{{ district.id }}" selected="selected">{{ district.description }}</option>
                    {% else %}
                        <option value="{{ district.id }}">{{ district.description }}</option>
                    {% endifequal %}
                {% endfor %}
            </select>
        {% endif %}
        </span>
        <span>
        {% if its_mode %}
            <input type="text" name="its_name" value="{{ its_name }}" readonly>
            <input id="its_id" type="hidden" name="its_id" value="{{ its_id }}">
        {% else %}
            <select id="lst-its" name="its">
                <option value="-1" selected="selected">--- Tutti ITS</option>
            </select>
        {% endif %}
        </span>
        <span>
            <select id="lst-consultant" name="consultant">
                <option value="-1" selected="selected">--- Tutti Consulenti</option>
            </select>
        </span>

    </div>
    <div class="row-fluid">
        {% if its_error == 'district.not.assigned' %}
        <div class="alert alert-danger" role="alert">
            Report error. Il tuo utente non è assegnato a un distretto e non ha i permessi per accedere ai dati.
            Contatta l’amministratore per l’assegnazione corretta del distretto.
        </div>
        {% else %}
        <button id="btn-report" type="button" class="btn btn-primary">Mostra i risultati</button>
            {% if show_report %}
                <a href="/admin/report/its/export/{{ year }}?{{ qs }}" id="export" class="btn btn-green">
                    <i class="icon-download icon-white"></i> Esporta
                </a>
            {% endif %}
        {% endif %}
    </div>
    <br/>
    <!-- Report content -->
    {% if nodata %}
        {% include "admin/its/view_report_nocontent.html" %}
    {% elif show_report %}
        {% include "admin/its/view_report_content.html" %}
    {% endif %}

</div>


<script>
    !function () {
        // Create dataset used to populate the ITS and Consultant dropdown
        var its_data = [
                { "id": -1, "desc": "--- Tutti ITS", "parent": undefined }
                {% for rel in its_rels %}
                    ,{ "id": {{ rel.its.id }}, "desc": "{{ rel.its.first_name }} {{ rel.its.last_name }}", "parent": {{ rel.district.id }} }
                {% endfor %}
            ],
            consultant_data = [
                { "id": -1, "desc": "--- Tutti Consulenti", "parent": undefined }
                {% for rel in consultant_rels %}
                    ,{ "id": "{{ rel.consultant.code }}", "desc": "{{ rel.consultant.name }} {{ rel.consultant.surname }}", "parent": {{ rel.its.id }} }
                {% endfor %}
            ],
            year, district_id, its_id, consultant_id;

        // Populate selected fields
        function readLists(listName) {
            if (typeof listName === "undefined" || listName === "year") {
                year = parseInt($("#lst-year option:selected").val());
            }
            if (typeof listName === "undefined" || listName === "district") {
                {% if its_mode %}
                district_id = {{ district_id }}
                {% else %}
                district_id = parseInt($("#lst-district option:selected").val());
                {% endif %}
            }
            if (typeof listName === "undefined" || listName === "its") {
                {% if its_mode %}
                    its_id = {{ its_id }}
                {% else %}
                its_id = parseInt($("#lst-its option:selected").val());
                {% endif %}
            }
            if (typeof listName === "undefined" || listName === "consultant") {
                consultant_id = $("#lst-consultant option:selected").val();
            }
        }

        // Function used to refresh the drop down based on a parent_id
        function refreshList(list, data, parent_id) {
            // Clear all drop down items
            list.find('option').remove();

            // Loop though the data and create new dropdown items.  id of -1 is always shown
            $.each(data, function (index, obj) {
                if (obj.id === -1 || obj.parent === parent_id ) {
                    list.append('<option value="' + obj.id + '">' + obj.desc + '</option>');
                }
            });
        }


        {% ifnotequal its_mode True %}
        $("#lst-district").change(function () {
            readLists("district");
            refreshList($("#lst-its"), its_data, district_id);
            // Invoke the change in consultant dropdown
            $("#lst-its").change();
        });

        $("#lst-its").change(function () {
            readLists("its");
            refreshList($("#lst-consultant"), consultant_data, its_id);
        });
        {% endifnotequal %}

        // Kick off the report
        $("#btn-report").click(function () {
            readLists();
            var url = "./" + year,
                qs = [];

            // Build query string
            if ( district_id !== -1 ) {
                qs.push("district=" + encodeURIComponent(district_id));
            }
            if ( its_id !== -1 ) {
                qs.push("its=" + encodeURIComponent(its_id));
            }
            if ( consultant_id !== "-1" ) {
                qs.push("consultant=" + encodeURIComponent(consultant_id));
            }

            // Build Querystring
            if (!$.isEmptyObject(qs)) {
                url += "?" + qs.join("&");
            }

            // Final URL
            window.location = url;
        });

        // Populate Dropdown based on value from querystring.  Querystring value are read in server.
        $("document").ready(function () {
            var year = {{ year|default:"undefined" }},
                district_id = {{ district_id }},
                its_id = {{ its_id }},
                consultant_id = "{{ consultant_id }}";

            if (year) {
                $("#lst-year").val(year);
            }

            {% if its_mode %}
            refreshList($("#lst-consultant"), consultant_data, its_id);
            {% else %}
            if (district_id !== -1) {
                $("#lst-district").val(district_id);
                $("#lst-district").change();
            }

            if (its_id !== -1) {
                $("#lst-its").val(its_id);
                $("#lst-its").change();
            }
            {% endif %}

            if (consultant_id !== "-1") {
                $("#lst-consultant").val(consultant_id);
            }

        });
    }();

</script>

{% endblock %}