{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% block icon-list-alt %}<i class="icon-envelope-alt"></i>{% endblock %}
{% block content_title %}Liste di distribuizione{% endblock %}
{% block content_subtitle %}<h5>accesso alle liste di distribuizione per le varie newsletter </h5>{% endblock %}
{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Newsletter</span>
                    </div>
                    <div class="box-content">
                        <div id="dataTables">
                            <table cellpadding="0" cellspacing="0" border="0" class="dTable2 responsive">
                                <thead>
                                <tr>
                                    <th><div>Id</div></th>
                                    <th><div>Denominazione</div></th>
                                    <th><div>Data di inizio</div></th>
                                    <th><div>Data di fine</div></th>
                                    <th><div>Campagna</div></th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for nl in newsletters %}
                                    <tr>
                                        <td>{{ nl.id }}</td>
                                        <td>{{ nl.name }}</td>
                                        <td>{{ nl.startdate }}</td>
                                        <td>{{ nl.enddate }}</td>
                                        <td>{{ nl.campaign }}</td>
                                        <td><a href="/admin/campaigns/newslettertarget/{{nl.id }}"><i style="margin-left: 20px" class="icon-table icon-2x"></i></a></td>                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(".dTable2").dataTable({
                bJQueryUI:!1
                ,bAutoWidth:!1,
                sPaginationType:"full_numbers",
                sDom:'<"table-header"fl>t<"table-footer"ip>',
                "oLanguage": {
                    "sSearch":"Cerca",
                    "sLengthMenu": "Mostra _MENU_ righe per pagina",
                    "sZeroRecords": "Nessun risultato trovato",
                    "sInfo": "Risultati da _START_ a _END_ di _TOTAL_ ",
                    "sInfoEmpty": "Mostrati da 0 a 0 di 0 records",
                    "sInfoFiltered": "(filtrati da _MAX_ records totali)",
                    "oPaginate":{
                        "sFirst":"Primo",
                        "sLast":"Ultimo",
                        "sNext":"Prossimo",
                        "sPrevious":"Precedente"

                    }
                }
            });

            $('.dTable2 tbody tr').on('click', function () {
                var nTds = $('td', this);
                window.location="/admin/campaigns/newsletter/"+$(nTds[0]).text();
            });
        });
    </script>
{% endblock %}