{% load crowdsourcing %}
<link rel="stylesheet" href="{{ STATIC_URL }}admin/survey/enlarge.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}admin/survey/google_maps.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}admin/css/bootstrap.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}admin/survey/datepicker.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}admin/survey/styles.css" type="text/css"></link>

{% jquery_and_google_api %}
{% yahoo_api %}
<script type="text/javascript" src="{{ STATIC_URL }}admin/survey/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/survey/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/survey/enlarge.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/survey/google_maps.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/survey/survey.js"></script>
